<app-navbar></app-navbar>

<div class="layout">
  <div class="sidebar-col">
    <app-sidebar></app-sidebar>
  </div>

  <main class="content" role="main">
    <section class="welcome">
      <h1>Welcome 👋</h1>
      <p>Select a section in the navbar to get started.</p>

      
      <h1>Student Dashboard</h1>
      <p>Use the tabs below to navigate student data.</p>
    

      <app-student-navbar></app-student-navbar>
      <div class="chid">
      <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>